In [1]:
import numpy as np
import scipy as sp
from matplotlib import pyplot as plt
import pandas as pd
import h5py
import seaborn as sns

In [2]:
top_dir = "../data/"
list_of_dfs = ['unres_behav_data.csv', 'res_behav_data.csv', 'emot_pc_scores.csv', 'cogn_pc_scores.csv', 'motion_data.csv', 'tod_data.csv']

In [3]:
for d,df in enumerate(list_of_dfs):
    tmp = pd.read_csv(top_dir+df, dtype={'Subject': 'str'})
    tmp.set_index("Subject", inplace=True)
    print('Doing df {}...number of columns in this df: {}'.format(df, tmp.shape[1]))
    
    if d==0:
        behav_data = tmp
    else:
        # behav_data = behav_data.join(tmp, how='outer')
        behav_data = pd.concat([behav_data, tmp], axis=1)

Doing df unres_behav_data.csv...number of columns in this df: 382
Doing df res_behav_data.csv...number of columns in this df: 200
Doing df emot_pc_scores.csv...number of columns in this df: 17
Doing df cogn_pc_scores.csv...number of columns in this df: 12
Doing df motion_data.csv...number of columns in this df: 42
Doing df tod_data.csv...number of columns in this df: 12

In [4]:
behav_data.shape

(184, 665)

In [5]:
behav_data.index.rename("Subject", inplace=True)
behav_data.head()

,Release,Acquisition,Gender,Age,3T_Full_MR_Compl,T1_Count,T2_Count,3T_RS-fMRI_Count,3T_RS-fMRI_PctCompl,3T_Full_Task_fMRI,...,MOVIE3_AcquisitionTime,MOVIE4_AcquisitionTime,REST1_AcquisitionTime,REST4_AcquisitionTime,MOVIE1_TimeFromLocalizer,MOVIE2_TimeFromLocalizer,MOVIE3_TimeFromLocalizer,MOVIE4_TimeFromLocalizer,REST1_TimeFromLocalizer,REST4_TimeFromLocalizer
Subject,,,,,,,,,,,,,,,,,,,,,
100610,S900,Q08,M,26-30,True,2,1,4,100.0,True,...,40722.0,42467.0,37065.0,39467.0,1825.0,3775.0,1528.0,3273.0,529.0,273.0
102311,S500,Q06,F,26-30,True,1,1,4,100.0,True,...,30108.0,31363.0,67027.0,28826.0,2080.0,3347.0,1577.0,2832.0,563.0,295.0
102816,Q3,Q03,F,26-30,True,1,1,4,100.0,True,...,34842.0,36167.0,66083.0,33514.0,2187.0,3495.0,1654.0,2979.0,772.0,326.0
104416,S900,Q09,F,31-35,True,2,2,4,100.0,True,...,43979.0,45212.0,30833.0,42735.0,2080.0,5040.0,1551.0,2784.0,777.0,307.0
105923,MEG2,Q07,F,31-35,True,2,2,4,100.0,True,...,31282.0,32566.0,74416.0,30006.0,1922.0,3198.0,1608.0,2892.0,568.0,332.0

In [6]:
behav_data.to_csv('../data/all_behav.csv')